com/webrender/test/ClientServer.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/ClientServer/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ClientServer" targetNamespace="http://www.example.org/ClientServer/">
<wsdl:types>
<xsd:schema targetNamespace="http://www.example.org/ClientServer/">
<xsd:element name="addExecuteLog">
<xsd:complexType>
<xsd:sequence>
	<xsd:element name="in" type="tns:ExecuteLog" />
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="addExecuteLogResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="out" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>

            <xsd:complexType name="ExecuteLog">
            	<xsd:sequence>
            		<xsd:element name="Time" type="xsd:dateTime"></xsd:element>
            		<xsd:element name="Message" type="xsd:string"></xsd:element>
            		<xsd:element name="Machine" type="xsd:string"></xsd:element>
            		<xsd:element name="IP" type="xsd:string"></xsd:element>
            		<xsd:element name="User" type="xsd:string"></xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
            <xsd:element name="addRealLog">
            	<xsd:complexType>
            		<xsd:sequence>

            			<xsd:element name="in" type="tns:RealLog"></xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="addRealLogResponse">
            	<xsd:complexType>
            		<xsd:sequence>

            			<xsd:element name="out" type="xsd:string"></xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>

            <xsd:complexType name="RealLog">
            	<xsd:sequence>
            		<xsd:element name="Message" type="xsd:string"></xsd:element>
            		<xsd:element name="NodeIp" type="xsd:string"></xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
</xsd:schema>
</wsdl:types>
<wsdl:message name="addExecuteLogRequest">
<wsdl:part element="tns:addExecuteLog" name="parameters"/>
</wsdl:message>
<wsdl:message name="addExecuteLogResponse">
<wsdl:part element="tns:addExecuteLogResponse" name="parameters"/>
</wsdl:message>
    <wsdl:message name="addRealLogRequest">
    	<wsdl:part name="parameters" element="tns:addRealLog"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="addRealLogResponse">
    </wsdl:message>
    <wsdl:portType name="ClientServer">
<wsdl:operation name="addExecuteLog">
<wsdl:input message="tns:addExecuteLogRequest"/>
</wsdl:operation>
        <wsdl:operation name="addRealLog">
        	<wsdl:input message="tns:addRealLogRequest"></wsdl:input>
        </wsdl:operation>
    </wsdl:portType>
<wsdl:binding name="ClientServerSOAP" type="tns:ClientServer">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="addExecuteLog">
<soap:operation soapAction="http://www.example.org/ClientServer/addExecuteLog"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="ClientServer">
<wsdl:port binding="tns:ClientServerSOAP" name="ClientServerSOAP">
<soap:address location="http://www.example.org/"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>
